:root {
    --title-color: #322153;
    --primary-color: #34cb79;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu, sans-serif;
    /* color: var(--title-color); */
}

body {
    padding: 0px 0 20px 0px;
    margin: 0px;
    font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f0e7d5;
    font-weight: normal;
    background: #252525;
    background-attachment: fixed !important;
    
    -webkit-font-smoothing: antialiased;
}

/* section #title h1 {
    font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    line-height: 36px;
} */

section {
 border: 2px solid yellow;
}

section p{
    margin-left: 0;
}

img {
    transform: rotate(-32deg);
    margin-left: -30px; 
    margin-top: -50px;
    display: flex;
    align-items: center;
}

#sobre {
    margin-top: 30px;
}

#sobre h3, p {
    text-align: justify;
}

li {
    display: inline-block
}