/* CONFIGURAÇÕES PADRÃO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    color: #f0e7d5;
    font-weight: normal;
    background: #252525;
    background-attachment: fixed !important;
    
    -webkit-font-smoothing: antialiased;

    max-width: 1600px;
    max-height: 1200px;
}

h1, h2, h3, h4 {
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

li {
    display: inline-block;
}

li a {
    text-decoration: none;
    color: #fff;
}

li a:hover {
    border-bottom: 1px solid white;
    color: #fff;
    font-size: 1rem;
    padding: 0;
}

/* CONFIGURAÇÕES DO BANNER - Img de fundo fixo e Carrousel de texto*/
#banner {
    position: relative;
    height: 90vh;
    opacity: 0.9;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;    
    background-image: url(../img/banner.jpg);

    margin-top: 5vh;
}

#banner .carousel-inner {       
    top: 40vh;
    text-shadow: 0px 0px #fff;

    border-radius: 10px;
    background: #000;
}

#banner h1 {
    width: 35vw;
    padding-top: 5px;
    font-style: italic;
}

/* CONFIGURAÇÕES DO SOBRE MIM*/
#sobre {
    margin-top: 30px;
    margin-bottom: 30px;
}

#sobre #teste {
    left: 1%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../img/sem-fundo1.png);
}

#sobre span {
    display: none;
}

#sobre p {
    text-align: justify;
    font-size: 1.2em;
}

/* CONFIGURAÇÕES DO PORTFÓLIO*/
#portfolio .row {
    display: flex;
    justify-content: start;
}

#portfolio .detalhes {
    width: 430px; 
    height: 400px; 
    
}

#portfolio .detalhes img {
    border-radius: 10px 10px 0px 0px ;
}

#portfolio .detalhes p{
    border: 1px solid white;
    border-radius: 0px 0px 10px 10px;

    background: white;

    text-align: justify;
    color: black;

    height: 17vh;
    
    padding: 5px 15px;
}

/* CONFIGURAÇÕES DA ÁREA DE CONTATO*/
#contato a {
    text-decoration: none;
    color: #fff;
}

#contato a:hover {
    border-bottom: 1px solid white;
    color: #fff;
    font-size: 1rem;
    transition: all 1s ease;
    padding: 0;
}

/* CONFIGURAÇÕES DO RODAPÉ*/
footer {
    margin-bottom: -5rem;
    padding: 0.3rem 0;

    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

footer span {
    line-height: 2rem;
    font-family: ubuntu, sans-serif;
    font-size: 1rem;
}

/* CONFIGURAÇÕES DA DESIGN RESPOSIVO */
@media (min-width: 768px) and (max-width: 991.98px) {
	#nav-principal {
		text-transform: uppercase;
	}
}

@media (max-width: 767.98px) {
	nav h4, button {
        margin-left: 3vw;
    }
    
    nav button {
        margin-right: 2vw;
    } 

    #banner h1, #menu h1 {
        width: auto;
        font-size: 1.5em;
        padding: 5px 10px;
    }

    #portfolio  {
        display: flex;
        flex-direction: column;
    }

    #portfolio .detalhes{        
        margin: 0 auto;
    }

    #portfolio .detalhes p{
        height: auto;      
    }
    
}